*{
  margin: 0;
  padding: 0;
}
 body{
  background-color: antiquewhite;
 }
.logo{
  font-family: "Orbitron";
  font-weight: 400;
  font-style: normal;
font-size: 30px;
}
.logo span{
  color: rgb(255,87,45);
  font-weight: bold;
}
header{
  height: auto;
  padding: 10px;
  background-color: rgb(255, 87, 45);
  display: flex;
  justify-content: space-between;
  padding-left: 30xp;
  padding-right: 30px;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li a{
  color: rgb(255, 255, 255);
text-decoration: none;
margin-left: 20px;
font-weight: bold;
font-size: 15px;
}
header ul li a i{
  font-size: 18px;
  color: white;
}
nav{
  background-color: white;
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  padding: 10px;
  display: flex;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  margin-left: 30px;
  font-size: 19px;
  color: black;
}
nav ul li a i{
  font-size: 20px;
  color: rgb(255,87,45);
}
header ul li a {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -8px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2px 6px;
  border-radius: 50%;
}
/* Hamburger icon hidden on desktop */
.menu-toggle {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

/* Top header, logo, menus same as before */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 87, 45);
}
.mobile-nav{
  align-items: center;
  height: auto;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
 padding-top: 10px;
}
 
.mobile-nav ul{
  display: flex;
  list-style: none;
  padding-right: 40px;
}
.mobile-nav ul li a{
  font-size: 20px;
  background-color: gainsboro;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
 margin-left: 10px;
  color: black;
}
.footnav{
box-shadow: 0 -2px 10px rgba(0,0,0,0.2);

  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
 
}
.footnav ul li a i{
  font-size: 20px;
  height: 25px;
  align-items: center;
  justify-content: center;
  width: 25px;
  border-radius: 50%; 
 padding: 5px;
}
.footnav ul li a i:hover{
  color: rgb(26, 25, 25);
}
/* Hero section images */
#carouselExampleFade img {
  width: 100%;
  height: 70vh;  
  object-fit: cover; 
}
.catogroy-link{
  padding: 10px;
  width: 100vw;
  background-color: red;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  body{
    background-color: rgba(255, 255, 255, 0.836);
  }
  nav,
  header{
    display: none;
  }
 .mobile-nav{
  margin-top: 5px;
  display: flex;
 }
 .mobile-nav p{
  font-size: 20px;
  padding-left: 20px;
 }
 .footnav{
  display: block;
 }
   #carouselExampleFade img {
    height: 30vh; 
  
  }

}

