*{
  margin: 0;
  padding: 0;
}
 body{
  background-color: antiquewhite;
 }
.logo{
  font-family: "Orbitron";
  font-weight: 400;
  font-style: normal;
font-size: 30px;
}
.logo span{
  color: rgb(255,87,45);
  font-weight: bold;
}
header{
  height: auto;
  padding: 10px;
  background-color: rgb(255, 87, 45);
  display: flex;
  justify-content: space-between;
  padding-left: 30xp;
  padding-right: 30px;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li a{
  color: rgb(255, 255, 255);
text-decoration: none;
margin-left: 20px;
font-weight: bold;
font-size: 15px;
}
header ul li a i{
  font-size: 18px;
  color: white;
}
nav{
  background-color: white;
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  padding: 10px;
  display: flex;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  margin-left: 30px;
  font-size: 19px;
  color: black;
}
nav ul li a i{
  font-size: 20px;
  color: rgb(255,87,45);
}
header ul li a {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -8px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2px 6px;
  border-radius: 50%;
}
